/build
/dist
/ReceiptChecker.exe
/ReceiptChecker.spec
/TalkFile_250827_7번방 방이점.xlsx
/TalkFile_250827_강남77 홍대점.xlsx
/test.xlsx
처리된 파일/250918_7번방방이점.xlsx
처리된 파일/250918_강남77서초구.xlsx
처리된 파일/250918_강남77홍대점.xlsx
처리된 파일/TalkFile_250827_7번방 방이점.xlsx
처리된 파일/TalkFile_250827_강남77 홍대점.xlsx
